/***********************reset***********************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td ,span, object, iframe{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
a,a *{text-decoration: none;-webkit-transition: all .5s; -moz-transition: all .5s; -ms-transition: all .5s;transition: all .5s;}
body{position: relative; background: #261e1a; font: 16px/1.5 "Arial","Microsoft Yahei";color: #f7e0b7;min-width: 1280px;max-width: 1920px;margin: 0 auto;}
.html-m{min-width: 1002px;}

.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.hide{display:none!important;}
.fl{float: left;}
.fr{float: right;}
