/*
 * Author: ybingyu
 * Version: 0.1.0
 * Compile Date: 2015-09-16 14:54
*/

* {  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;zoom:1.000001; }
html,body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
header, footer, article, section, nav, menu, hgroup { display: block; clear: all; }
html { font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: auto; -webkit-text-size-adjust: auto;height: 100%; }
body { margin: 0; color: #fff; background-color: #000; height: 100%; -webkit-overflow-scrolling: touch;  }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; }
a:active { outline: 0; }
img { border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
textarea { overflow: auto; resize: none; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
ul, ol { list-style: none outside none; }

/*---------- common ----------*/
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.clearfix:after { content: ""; height: 0; visibility: hidden; display: block; clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both }
.ab-center{position: absolute;top:50%;left:50%;-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);transform: translate(-50%,-50%);text-align: center; }
.ab-center-x{position: absolute;left:50%;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);text-align: center; }
.ab-center-y{position: absolute;top:50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);text-align: center; }
.rotate-180{transform:rotate(180deg); -ms-transform:rotate(180deg); -moz-transform:rotate(180deg); -webkit-transform:rotate(180deg); -o-transform:rotate(180deg); }
.rotate-90{transform:rotate(90deg); -ms-transform:rotate(90deg); -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg); }

.hide{display: none;}

.txt-hide{text-indent: -99999px;white-space: nowrap;line-height: 0;}
.txt-center{text-align: center;}

/*---------- 竖屏提示 ----------*/
.tip{display: none;position: fixed;z-index: 100; width: 100%;height: 100%;background: #000;text-align: center;vertical-align: middle;font-size: 2rem;font-weight: bold;color: #fff;}
.tip p{width: 80%}
/*---------- loading ----------*/
.loading{position: fixed;top: 0;left: 0;z-index: 200; background-color: #000;width: 100%;height: 100%;z-index: 200;}
.loading>div{width: 100%;}
.loading-txt{position: relative; width:160px; color: #b0b0b0;font-size: 2rem;margin: 10px 0 0 -1rem;text-transform: uppercase;}
.loading-txt:after{position: absolute; content:"..."; overflow:hidden;margin: 0 5px; width: 30px;vertical-align:top; -webkit-animation:tip infinite 1s 0.3s; animation:tip infinite 1s 0.3s; text-align: left;}
@-webkit-keyframes tip{
    0%{ width:0px;}
    100%{ width:30px;}
}
@keyframes tip{
    0%{ width:0px;}
    100%{ width:30px;}
}
.arrow{ position: relative; background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/load-b.png) no-repeat left center;background-size: cover; height: 156px;}
.arrow:after{content: "";position: absolute;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/load-t.png) no-repeat left center; background-size: cover;height: 100%;width:100%;top:0;left: 0; -webkit-animation:arrow infinite 5s linear 0.3s; animation:arrow infinite 5s linear 0.3s;}
@-webkit-keyframes arrow{
    0%{ width:0px;}
    100%{ width:100%;}
}
@keyframes arrow{
    0%{ width:0px;}
    100%{ width:100%;}
}


/*main*/
.main{position: relative; margin: 0 auto; min-width: 320px;height: 100%;overflow: hidden;}
.page{display: none; position: absolute; top: 0;left: 0;width: 100%;height: 100%;}
.curpage{display: block;}


/*page 1*/
.page-1{background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/page-01.jpg) no-repeat center;background-size: 100% 100%;}
.unkown-number{top: 7%;color: #dbdbdb;font-size: 80px;text-align: center;}
.phone{top: 17%; font-size: 40px;}
.icons{position: absolute; top: 58%;width: 100%;padding: 0 15%;overflow: hidden;}
.icons span{display: inline-block;width: 95px;height: 95px;}
.icon-remind{float: left;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/icon-01.png) no-repeat bottom center;}
.icon-message{float: right;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/icon-02.png) no-repeat center;}
.jt{position: absolute;right: 8%; top: 75%;width: 624px;height: 172px;padding: 10px; overflow: hidden;}
.jt-word{position: absolute;left: 250px; font-size: 40px;color: #777;line-height: 152px;}
.jt-word:after{position: absolute;top:0; content: attr(data-text); width: 0;height: 0; left: 0; z-index: 2; color: #fff; white-space: nowrap; overflow: hidden;
		animation: text-gradient 2s linear infinite;
		-webkit-animation: text-gradient 2s linear infinite;
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom,from(#fff),to(rgba(0 , 0 , 0 ,0)));}
@-webkit-keyframes text-gradient{
	from{
		width: 0;
		height: 100%;
	}
	to {
		width: 100%;
		height: 100%;
	}
}
@keyframes text-gradient{
	from{
		width: 0;
		height: 100%;
	}
	to {
		width: 100%;
		height: 100%;
	}
}

.jt-icon{ display: block;position: absolute;z-index: 16; top: 10px;left: 10px; width: 152px;height: 152px;background: #fff url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/phone.png) no-repeat center;border-radius: 50%;}
.jt-bg{position: absolute;top: 0;right: 0;width: 100%;height: 100%; border-radius: 100px;background: rgba(219,219,219,.15);}

/*page 2*/
.page-2{z-index: 6;}
.dec-border{z-index: 28; position: absolute;width: 100%;height: 179px;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/dec-border.png) no-repeat center;left: 0;}
.db-t{top: 0;}
.db-b{bottom: 0;}

.page-2-t,
.page-2-b{z-index: 40; background: #000;position: absolute; left: 0;width: 100%;height: 50%;}
.page-2-t{top: 0;}
.page-2-b{bottom: 0;}
.hand{ background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/hand.png) no-repeat top center;width: 162px;height: 222px;}
.hand-t{top: 12%;}
.hand-b{margin-left: -100px; bottom: 12%;}
.guide{position: absolute;width: 100%;left: 0; height: 100%;}
.guide-b{  top: 0;animation: guide-b 2s linear infinite;
    -webkit-animation: guide-b 2s linear infinite;}
.guide-t{bottom: 0; animation: guide-t 2s linear infinite;
    -webkit-animation: guide-t 2s linear infinite;}
@-webkit-keyframes guide-b{
  from{
    transform: translate(0,-20px);-webkit-transform: translate(0,-20px);
  }
  to {
    transform: translate(0,20px);-webkit-transform: translate(0,20px);
  }
}
@keyframes guide-b{
  from{
    transform: translate(0,-20px);-webkit-transform: translate(0,-20px);
  }
  to {
    transform: translate(0,20px);-webkit-transform: translate(0,20px);
  }
}
@-webkit-keyframes guide-t{
	from{
        transform: translate(0,20px);-webkit-transform: translate(0,20px);
      }
      to {
        transform: translate(0,-20px);-webkit-transform: translate(0,-20px);
      }
}
@keyframes guide-t{
	from{
        transform: translate(0,20px);-webkit-transform: translate(0,20px);
      }
      to {
        transform: translate(0,-20px);-webkit-transform: translate(0,-20px);
      }
}


.square-dec{position: absolute;width: 100%;}
.square-dec span{margin: 10px auto; display: block; background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/dec-square.png) no-repeat center;width: 37px;height: 37px;}
.square-dec span:nth-child(1){transform:scale(0.6); -ms-transform:scale(0.6); -moz-transform:scale(0.6); -webkit-transform:scale(0.6); -o-transform:scale(0.6);}
.square-dec span:nth-child(2){transform:scale(0.8); -ms-transform:scale(0.8); -moz-transform:scale(0.8); -webkit-transform:scale(0.8); -o-transform:scale(0.8);}
.sd-t{top: 50%;}
.sd-b{bottom: 50%;}
.page-2 .word{z-index: 41; background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/word-01.png) no-repeat center;width: 539px;height: 39px;opacity: 1;}
.page-2 .word{transition: all 1.5s;-webkit-transition: all 1.5s;}
.page-out-ani .page-2-t,
.page-out-ani .page-2-b{transition: all 2s;-webkit-transition: all 2s;}
.page-out-ani .page-2-t{ transform:translate(0,-100%);-webkit-transform:translate(0,-100%);}
.page-out-ani .page-2-b{transform:translate(0,100%);-webkit-transform:translate(0,100%);}
.page-out-ani .word{opacity: 0;}
/*page 3*/
.page-3{z-index: 5; opacity: 0;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/page-03.jpg) no-repeat center;background-size: 100% 100%; }
.page-in-ani.page-3{-webkit-animation: page-3 4s linear 0.5s forwards;
animation: page-3 4s linear 0.5s forwards;}
@-webkit-keyframes page-3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  65% {
    opacity: 0.2;
  }
   100% {
    opacity: 1;
  }
}
@keyframes page-3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  65% {
    opacity: 0.2;
  }
   100% {
    opacity: 1;
  }
}
.solider{opacity: 0; position: absolute;z-index: 38; right: 0;bottom: 0; width: 500px;height: 720px;background-repeat: no-repeat;background-image: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/solider.png);animation: solider 6s steps(29) 6.5s forwards;-webkit-animation: solider 6s steps(29) 6.5s forwards;zoom: 1.5; -webkit-transform-style:preserve-3d; -webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);}
@-webkit-keyframes solider {
  from {
    opacity: 1;
    background-position: 0 0;
  }
  to {
    opacity: 1;
    background-position: 0 -20880px;
  }
}
@keyframes solider {
  from {
    opacity: 1;
    background-position: 0 0;
  }
  to {
    opacity: 1;
    background-position: 0 -20880px;
  }
}
.fire{width: 200px;height: 356px;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/fire.png) no-repeat;position: absolute; right: -10px;top: 120px;animation: fire 1s steps(12) infinite;-webkit-animation: fire 1s steps(12) infinite;zoom: 2; -webkit-transform-style:preserve-3d; -webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);}
@-webkit-keyframes fire {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -4272px;
  }
}
@keyframes fire {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -4272px;
  }
}
.fire-star{top: 0;left: 0;width: 750px;height: 550px;position: absolute;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/fire-star.png) no-repeat  0 0;background-size: 100% auto; animation: fire-star 2s steps(23) infinite;-webkit-animation: fire-star 2s steps(23) infinite; -webkit-transform-style:preserve-3d; -webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);}
@-webkit-keyframes fire-star{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -12650px;
  }
}
@keyframes fire-star {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -12650px;
  }
}
/*page 4*/
.page-4{z-index: 6; transition: all 2s;-webkit-transition: all 2s;opacity: 0;}
.page-4.page-in-ani{background: #000;opacity: 1;}

.lh{position: absolute;background-position: 0 0 ;background-repeat: no-repeat;background-color: #000; -webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;-webkit-transform-style:preserve-3d; -webkit-backface-visibility:hidden;}
.lh-1{opacity: 0; margin-left: 50px; background-image: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/lh1.jpg);width: 518px;height: 512px;background-size: 100% auto;
-webkit-animation-name: lh-1;animation-name: lh-1;-webkit-animation-delay: 3s;animation-delay:3s;  -webkit-animation-duration: .6s;animation-duration: .6s;-webkit-animation-timing-function: steps(17, end); animation-timing-function: steps(17, end);
}

@-webkit-keyframes lh-1{
  0% {
  	opacity: 1;
    background-position: 0 0;
  }
  100% {
  	opacity: 1;
    background-position: 0 -8704px;
  }
}
@keyframes lh-1 {
  0% {
  	opacity: 1;
    background-position: 0 0;
  }
  100% {
  	opacity: 1;
    background-position: 0 -8704px;
  }
}
.lh-2{top: 240px;right: 0;opacity: 0; background-image: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/lh2.jpg);width: 158px;height: 151px;-webkit-animation-name: lh-2;animation-name: lh-2;-webkit-animation-delay: 6.2s;animation-delay: 6.2s;  -webkit-animation-duration: 1.4s;-webkit-animation-timing-function: steps(11, end);     animation-duration: .5s; animation-timing-function: steps(11, end);
	transform:scale(1.6);  -webkit-transform:scale(1.6);}

@-webkit-keyframes lh-2{
  0% {
  	opacity: 1;
    background-position: 0 0;
  }
  100% {
  	opacity: 1;
    background-position: 0 -1661px;
  }
}
@keyframes lh-2 {
  0% {
  	opacity: 1;
    background-position: 0 0;
  }
  100% {
  	opacity: 1;
    background-position: 0 -1661px;
  }
}
.lh-3{right: 0; top: 1000px; opacity: 0; background-image: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/lh3.jpg);width: 205px;height: 209px;-webkit-animation-name: lh-3;animation-name: lh-3;-webkit-animation-delay: 8s;animation-delay:8s;  -webkit-animation-duration: .4s;animation-duration: .4s;-webkit-animation-timing-function: steps(11, end); animation-timing-function: steps(11, end);}

@-webkit-keyframes lh-3{
  0% {
  	opacity: 1;
    background-position: center 0;
  }
  100% {
  	opacity: 1;
    background-position: center -2299px;
  }
}
@keyframes lh-3 {
  0% {
  	opacity: 1;
    background-position: center 0;
  }
  100% {
  	opacity: 1;
    background-position: center -2299px;
  }
}
.lh-4{left: -60px; top: 1130px;transform:scale(.8) rotate(-90deg);  -webkit-transform:scale(.8) rotate(-90deg);
	-webkit-animation-duration: .3s;animation-duration: .3s;-webkit-animation-delay: 7.2s;animation-delay: 7.2s;}
.lh-5{left: 30px;top: 40px;
	-webkit-animation-duration: .25s;animation-duration: .25s;-webkit-animation-delay:8.2s;animation-delay:8.2s;}
.lh-6{left: 60px; top: 600px;transform:scale(.8) rotate(-90deg);  -webkit-transform:scale(.8) rotate(-90deg);
	-webkit-animation-duration: .18s;animation-duration: .18s;-webkit-animation-delay:8s;animation-delay:8s;}

.page-shock{-webkit-animation: swing 0.05s cubic-bezier(0.25,0.5,0.25,0.1) 0s;
animation: swing 0.05s cubic-bezier(0.25,0.5,0.25,0.1) 0s;}
.lh-sp,
.lh-all{position: absolute;top: 0;width: 100%;left: 0;height: 100%;}
.page-shock .lh-sp{z-index: 41;
	-webkit-animation: lh-sp .1s linear 1s forwards;
	animation: lh-sp .1s linear 1s forwards;}
.page-shock .lh-all{opacity: 0; z-index: 40;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/lh-all.jpg) no-repeat; background-size: 100% auto;
	-webkit-animation: lh-all 1.3s steps(20) 1s forwards;
	animation: lh-all 1.3s steps(20) 1s forwards;
}

@-webkit-keyframes lh-all{
  0% {
  	opacity: 1;
    background-position: 0 0;
  }
  100% {
  	opacity: 1;
    background-position: 0 -26680px;
  }
}
@keyframes lh-all {
  0% {
  	opacity: 1;
    background-position: 0 0;
  }
  100% {
  	opacity: 1;
    background-position: 0 -26680px;
  }
}

@-webkit-keyframes lh-sp{
  0% {
  	opacity: 1;
    background-position: 0 0;
  }
  100% {
  	opacity: 0;
  }
}
@keyframes lh-sp {
  0% {
  	opacity: 1;
    background-position: 0 0;
  }
  100% {
  	opacity: 0;
  }
}

/*page 5*/
.page-5{opacity: 0; background: #141619 url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/page-05.jpg) no-repeat top center;background-size: 100% auto;}
.page-5.curpage{-webkit-animation: fadeIn 1s ease forwards; animation: fadeIn 1s ease forwards;}

.btn-box{z-index: 55; position: absolute;width: 100%;bottom: 8%;}
.btn-box a{display: block;font-size: 50px;width: 410px;height: 94px;border: 2px;-webkit-border-image:url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/btn.png) 2;text-shadow: 2px 2px 15px #000;text-align: center; margin: 20px auto;color: #fff;font-weight: bold;line-height: 94px;}
.btn-box a:active{-webkit-border-image:none; color: #291a1a;background: rgba(182,148,73,0.9);text-shadow:none;}

.man{position: absolute;z-index: 54; bottom: 0;left: 0;width: 100%;height: 100%;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/man.png) no-repeat top center;background-size: cover;}
.zm{position: absolute;z-index: 53; width: 750px;height: 200px;top: 50px;left: 0;-webkit-animation: zm 5s steps(25) infinite;	animation: zm 5s steps(25) infinite;background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/zm.png) no-repeat;background-size: 100% auto;}
@-webkit-keyframes zm{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -5000px;
  }
}
@keyframes zm {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -5000px;
  }
}
.share{position: absolute;z-index: 56;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,.8) url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/share.png) no-repeat top center;background-size: 100% auto;}



@-webkit-keyframes fadeIn{
  0% {
  	opacity: 0;
  }
  100% {
  	opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
  	opacity: 0;
  }
  100% {
  	opacity: 1;
  }
}


@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 30deg);
            transform: rotate3d(0, 0, 1, 30deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -25deg);
            transform: rotate3d(0, 0, 1, -25deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1,15deg);
            transform: rotate3d(0, 0, 1,15deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -12deg);
            transform: rotate3d(0, 0, 1, -12deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
     20% {
    -webkit-transform: rotate3d(0, 0, 1, 30deg);
            transform: rotate3d(0, 0, 1, 30deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -25deg);
            transform: rotate3d(0, 0, 1, -25deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1,15deg);
            transform: rotate3d(0, 0, 1,15deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -12deg);
            transform: rotate3d(0, 0, 1, -12deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation-name: swing;
          animation-name: swing;
}


/*pop*/
.pop{z-index: 100; position: fixed; top: 0;left: 0;width: 100%;height: 100%; background: rgba(0,0,0,.6);}
.pop-main{background: url(http://7xnz8p.com1.z0.glb.clouddn.com/hbq/code/image/pop.png) no-repeat center;background-size: 100% 100%; line-height: 96px; text-align: center;color: #000;font-size: 34px;width: 550px;height: 96px;}
