/*
 * Author: ybingyu
 * Version: 0.1.0
 * Compile Date: 2015-10-27 17:11
*/ 
/*arrow*/
@keyframes arrow{
	0%{opacity: 1;}
	50%{opacity: 1;}
	100%{bottom: 50px;opacity: 0;}
}
@-webkit-keyframes arrow{
	0%{opacity: 1;}
	50%{opacity: 1;}
	100%{bottom: 50px;opacity: 0;}
}

/*page title*/
@keyframes pluseIn{
	0%{opacity: 0;transform:scale(100);-webkit-transform:scale(100);}
	60%{opacity: 1;}
	80%{transform:scale(1);-webkit-transform:scale(1);}
	90%{transform:scale(1.5);-webkit-transform:scale(1.5);}
	100%{transform:scale(1);-webkit-transform:scale(1);}
}
@-webkit-keyframes pluseIn{
	0%{opacity: 0;transform:scale(100);-webkit-transform:scale(100);}
	60%{opacity: 1;}
	80%{transform:scale(1);-webkit-transform:scale(1);}
	90%{transform:scale(1.5);-webkit-transform:scale(1.5);}
	100%{transform:scale(1);-webkit-transform:scale(1);}
}

.pluseIn{-webkit-animation-name: pluseIn;animation-name: pluseIn;transform-origin:center;}

/*number*/
@keyframes number-0{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -3000px;}
}
@-webkit-keyframes number-0{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -3000px;}
}
.bdn-0{ -webkit-animation-name: number-0; animation-name: number-0;-webkit-animation-timing-function: steps(20); animation-timing-function: steps(20);}
@keyframes number-1{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -1650px;}
}
@-webkit-keyframes number-1{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -1650px;}
}
.bdn-1{ -webkit-animation-name: number-1; animation-name: number-1;-webkit-animation-timing-function: steps(11); animation-timing-function: steps(11);}
@keyframes number-2{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -1800px;}
}
@-webkit-keyframes number-2{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -1800px;}
}
.bdn-2{ -webkit-animation-name: number-2; animation-name: number-2;-webkit-animation-timing-function: steps(12); animation-timing-function: steps(12);}
@keyframes number-3{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -1950px;}
}
@-webkit-keyframes number-3{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -1950px;}
}
.bdn-3{ -webkit-animation-name: number-3; animation-name: number-3;-webkit-animation-timing-function: steps(13); animation-timing-function: steps(13);}
@keyframes number-4{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2100px;}
}
@-webkit-keyframes number-4{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2100px;}
}
.bdn-4{ -webkit-animation-name: number-4; animation-name: number-4;-webkit-animation-timing-function: steps(14); animation-timing-function: steps(14);}
@keyframes number-5{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2250px;}
}
@-webkit-keyframes number-5{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2250px;}
}
.bdn-5{ -webkit-animation-name: number-5; animation-name: number-5;-webkit-animation-timing-function: steps(15); animation-timing-function: steps(15);}
@keyframes number-6{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2400px;}
}
@-webkit-keyframes number-6{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2400px;}
}
.bdn-6{ -webkit-animation-name: number-6; animation-name: number-6;-webkit-animation-timing-function: steps(16); animation-timing-function: steps(16);}
@keyframes number-7{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2550px;}
}
@-webkit-keyframes number-7{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2550px;}
}
.bdn-7{ -webkit-animation-name: number-7; animation-name: number-7;-webkit-animation-timing-function: steps(17); animation-timing-function: steps(17);}
@keyframes number-8{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2700px;}
}
@-webkit-keyframes number-8{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2700px;}
}
.bdn-8{ -webkit-animation-name: number-8; animation-name: number-8;-webkit-animation-timing-function: steps(18); animation-timing-function: steps(18);}
@keyframes number-9{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2850px;}
}
@-webkit-keyframes number-9{
	0%{opacity: 1;}
	100%{opacity: 1;background-position: 0 -2850px;}
}
.bdn-9{ -webkit-animation-name: number-9; animation-name: number-9;-webkit-animation-timing-function: steps(19); animation-timing-function: steps(19);}


/*clock*/
@keyframes clock{
	100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@-webkit-keyframes clock{
	100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

/*fadeIn*/
@keyframes fadeIn{
	100%{opacity: 1;}
}
@-webkit-keyframes fadeIn{
	100%{opacity: 1;}
}
.fadeIn{-webkit-animation-name: fadeIn;animation-name: fadeIn;opacity: 0;}

/*big-data*/
@-webkit-keyframes big-data {
	0% {opacity: 0; background-size: 80% 80%;}
	100% {opacity: 1; }
}

@keyframes big-data {
	0% {opacity: 0; background-size: 80% 80%;}
	100% {opacity: 1; }
}

.big-data {-webkit-animation-name: big-data;  animation-name: big-data; -webkit-animation-timing-function: ease-out;
animation-timing-function: ease-out;}

/*sm-data*/
@-webkit-keyframes lightSpeedIn-rb {
	 0% {
	    	-webkit-transform: translate3d(100%, 100%, 0) skewX(-30deg);
	          transform: translate3d(100%, 100%, 0) skewX(-30deg);
	    	opacity: 0;
	}

	60% {
	    	-webkit-transform: skewX(20deg);
	           transform: skewX(20deg);
	    	opacity: 1;
	}

	80% {
	    	-webkit-transform: skewX(-5deg);
	          transform: skewX(-5deg);
	    opacity: 1;
	}

	100% {
	    	-webkit-transform: none;
	          transform: none;
	    	opacity: 1;
	}
}

@keyframes lightSpeedIn-rb {
	 0% {
	    	-webkit-transform: translate3d(100%, 100%, 0) skewX(-30deg);
	          transform: translate3d(100%, 100%, 0) skewX(-30deg);
	    	opacity: 0;
	}

	60% {
	    	-webkit-transform: skewX(20deg);
	           transform: skewX(20deg);
	    	opacity: 1;
	}

	80% {
	    	-webkit-transform: skewX(-5deg);
	          transform: skewX(-5deg);
	    opacity: 1;
	}

	100% {
	    	-webkit-transform: none;
	          transform: none;
	    	opacity: 1;
	}
}

.lightSpeedIn-rb {
	-webkit-animation-name: lightSpeedIn-rb;
	animation-name: lightSpeedIn-rb;
	-webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}


@keyframes bounceInDown-sd {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
            transform: translate3d(0, -500px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes bounceInDown-sd {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
            transform: translate3d(0, -500px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown-sd {
	-webkit-animation-name: bounceInDown-sd;
          animation-name: bounceInDown-sd;
      -webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes lightSpeedIn-sw {
	 0% {
	    	-webkit-transform: translate3d(-100%, -500%, 0) skewX(-30deg);
	          transform: translate3d(-100%, -500%, 0) skewX(-30deg);
	    	opacity: 0;
	}

	60% {
	    	-webkit-transform: skewX(20deg);
	           transform: skewX(20deg);
	    	opacity: 1;
	}

	80% {
	    	-webkit-transform: skewX(-5deg);
	          transform: skewX(-5deg);
	    opacity: 1;
	}

	100% {
	    	-webkit-transform: none;
	          transform: none;
	    	opacity: 1;
	}
}

@keyframes lightSpeedIn-sw {
	 0% {
	    	-webkit-transform: translate3d(-100%, -500%, 0) skewX(-30deg);
	          transform: translate3d(-100%, -500%, 0) skewX(-30deg);
	    	opacity: 0;
	}

	60% {
	    	-webkit-transform: skewX(20deg);
	           transform: skewX(20deg);
	    	opacity: 1;
	}

	80% {
	    	-webkit-transform: skewX(-5deg);
	          transform: skewX(-5deg);
	    opacity: 1;
	}

	100% {
	    	-webkit-transform: none;
	          transform: none;
	    	opacity: 1;
	}
}

.lightSpeedIn-sw {
	-webkit-animation-name: lightSpeedIn-sw;
	animation-name: lightSpeedIn-sw;
	-webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

/*head*/
@keyframes headroll{
	0%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
	100%{-webkit-transform:rotate(15deg);transform:rotate(15deg);}
}
@-webkit-keyframes headroll{
	0%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
	100%{-webkit-transform:rotate(15deg);transform:rotate(15deg);}
}
@keyframes headblood{
	0%{opacity: 0;height: 0;transform:translate(0,-150%);-webkit-transform:translate(0,-150%);}
	50%{opacity: 1;}
	100%{transform:translate(0,100%);-webkit-transform:translate(0,100%);}
}
@-webkit-keyframes headblood{
	0%{opacity: 0;height: 0;transform:translate(0,-150%);-webkit-transform:translate(0,-150%);}
	100%{transform:translate(0,100%);-webkit-transform:translate(0,100%);}
}

/*man-sw*/
@keyframes man-sw-hurt{
	0%{-webkit-transform:translate(-100%,100%);transform:translate(-100%,100%);width: 0;height: 0;}
}
@-webkit-keyframes man-sw-hurt{
	0%{-webkit-transform:translate(-100%,100%);transform:translate(-100%,100%);width: 0;height: 0;}
}
.man-sw-ani .man-sw-hurt{-webkit-animation: man-sw-hurt 0.4s forwards;animation: man-sw-hurt 0.4s forwards;}

@keyframes man-sw-t{
	50%{-webkit-transform:translate(-20%,-40%);transform:translate(-15%,-15%);}
	100%{-webkit-transform:translate(-40%,5%);transform:translate(-40%,5%);}
}
@-webkit-keyframes man-sw-t{
	50%{-webkit-transform:translate(-20%,-40%);transform:translate(-15%,-15%);}
	100%{-webkit-transform:translate(-40%,5%);transform:translate(-40%,5%);}
}

.man-sw-ani .man-sw-t{-webkit-animation: man-sw-t 1s 0.5s forwards;animation: man-sw-t 1s 0.5s forwards;}

/*man jy*/
@keyframes man-jy{
	95%{-webkit-transform:translate(-2%,0);transform:translate(-2%,0);}
	100%{-webkit-transform:translate(0);transform:translate(0);}
}
@-webkit-keyframes man-jy{
	95%{-webkit-transform:translate(-2%,0);transform:translate(-2%,0);}
	100%{-webkit-transform:translate(0);transform:translate(0);}
}
.man-jy-1-ani{-webkit-animation: man-jy 0.7s forwards;animation: man-jy 0.7s forwards;}

.man-jy-2-ani{-webkit-animation: man-jy 0.5s 0.6s forwards;animation: man-jy 0.5s 0.6s forwards;}
@keyframes man-jy-word{
	0%{opacity: 0;transform:scale(0.1);-webkit-transform:scale(0.1);}
}
@-webkit-keyframes man-jy-word{
	0%{opacity: 0;transform:scale(0.1);-webkit-transform:scale(0.1);}
}

@keyframes man-jy-roll{
	0%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg);}
	100%{-webkit-transform:rotate(2deg);transform:rotate(2deg);}
}
@-webkit-keyframes man-jy-roll{
	0%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg);}
	100%{-webkit-transform:rotate(2deg);transform:rotate(2deg);}
}

/*man-zs*/
@keyframes man-zs-arrow{
	0%{opacity: 0; transform: translate(200%,-200%);-webkit-transform: translate(200%,-200%);}
}
@-webkit-keyframes man-zs-arrow{
	0%{opacity: 0; transform: translate(200%,-200%);-webkit-transform: translate(200%,-200%);}
}

@keyframes man-zs-blood{
	100%{transform: scale(1);-webkit-transform: scale(1);transform-origin:left center;}
}
@-webkit-keyframes man-zs-blood{
	100%{transform: scale(1);-webkit-transform: scale(1);transform-origin:left center;}
}

@keyframes man-zs-body{
	50%{-webkit-transform:rotate(0) translate(-30%,-15%);transform:rotate(0) translate(-30%,-15%);}
	100%{transform: translate(-30%,-15%);-webkit-transform: translate(-30%,-15%);}
}
@-webkit-keyframes man-zs-body{
	50%{-webkit-transform:rotate(0) translate(-30%,-15%);transform:rotate(0) translate(-30%,-15%);}
	100%{transform: translate(-30%,-15%);-webkit-transform: translate(-30%,-15%);}
}

.man-zs-arrow-ani{-webkit-animation: man-zs-arrow 0.3s ease-in forwards;animation: man-zs-arrow 0.3s ease-in forwards;}
.man-zs-blood-ani{-webkit-animation: man-zs-blood 0.3s 0.3s forwards;animation: man-zs-blood 0.3s 0.3s forwards;}
.man-zs-body-ani{-webkit-animation: man-zs-body 0.6s 0.4s forwards;animation: man-zs-body 0.6s 0.4s forwards;}