/*
 * Author: ybingyu
 * Version: 0.1.0
 * Compile Date: 2015-11-11 14:51
*/ 
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;zoom:1.000001; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
header, footer, article, section, nav, menu, hgroup { display: block; clear: all; }
html { font-family: "Lucida Grande", Helvetica, Arial, Verdana, "Microsoft YaHei", sans-serif; -ms-text-size-adjust: auto; -webkit-text-size-adjust: auto;height: 100%; }
body { margin: 0; color: #fff; background-color: #503820; height: 100%; -webkit-overflow-scrolling: touch;  }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; }
a:active { outline: 0; }
img { border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
textarea { overflow: auto; resize: none; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
ul, ol { list-style: none outside none; }

.ani,.ani *{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);  }

/*---------- common ----------*/
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.clearfix:after { content: ""; height: 0; visibility: hidden; display: block; clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both }
.ab-center{position: absolute;top:50%;left:50%;-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);transform: translate(-50%,-50%); }
.ab-center-x{position: absolute;left:50%;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%); }
.ab-center-y{position: absolute;top:50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%); }

.hide{display: none;}
.txt-hide{text-indent: -99999px;white-space: nowrap;line-height: 0;}
.txt-center{text-align: center;}

/*tip*/
.tip{position: fixed;z-index: 100;top: 0;left: 0; background: #745d3f;width: 100%;height: 100%;font-size: 28px;font-weight: bold;color: #000;text-align: center;}

/*loading*/
.loading{position: fixed;width: 100%;height: 100%;background: url(../image/load-bg.jpg) no-repeat center;background-size: cover;z-index: 99;}
.progress-txt{margin: -100px 0 0; color: #14110c;font-size: 20px;text-align: center;}
.progress-txt b{font-size: 40px;}
.progress{width: 400px;border: 5px solid #14110c;border-radius: 30px;height: 20px;}
.progress-bar{width: 0;height: 100%;background: url(../image/progress.png) repeat;border-radius: 30px;}

/*main*/
.main{position: relative; margin: 0 auto; min-width: 320px;min-height: 100%;height: 100%;}
.swiper-slide{background-size: cover;background-position: center;}
.arrow{position: absolute; z-index:97;bottom: 20px; width: 150px;height: 52px;-webkit-animation: arrow 1s ease-in infinite alternate;animation: arrow 1s ease-in infinite alternate;background-repeat: no-repeat;}
.music{z-index: 97; position: absolute;right: 2%;top: 2%; width: 70px;height: 71px;background-repeat: no-repeat;}
.music-off{background-repeat: no-repeat;}

.swiper-pagination{display: none; left: 5%;z-index: 96;width: 35px;}
.swiper-pagination-bullet{background: none;width: 100%; height: auto;border-radius: 0;opacity: 1;}
.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet{margin: 0 auto;}
.swiper-pagination-bullet-active{background: none;opacity: 1;}
.swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet:before{content: "";display: block;margin: 0 auto 10px; width: 2px;height: 30px;background-repeat: no-repeat;}
.swiper-pagination-bullet:after{content: "";display: block; width: 35px;height: 35px;transition:all 0.5s;-webkit-transition:all 0.5s;transform: scale(1.2);-webkit-transform: scale(1.2);transition:none;-webkit-transition:none;}
.swiper-pagination-bullet:nth-child(1):after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(2):after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(3):after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(4):after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(5):after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(6):after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(7):after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(8):after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(9):after{background-repeat: no-repeat;}

.swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active:after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active:after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active:after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active:after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(5).swiper-pagination-bullet-active:after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(6).swiper-pagination-bullet-active:after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(7).swiper-pagination-bullet-active:after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(8).swiper-pagination-bullet-active:after{background-repeat: no-repeat;}
.swiper-pagination-bullet:nth-child(9).swiper-pagination-bullet-active:after{background-repeat: no-repeat;}
.swiper-pagination-bullet-active:after{transform: scale(1.4);-webkit-transform: scale(1.4);}

/*page commom*/
.data{-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.big-data{position: absolute;padding: 170px 0 0; margin: 0 0 0 -231px; left: 50%; background: url(../image/txt-bg.png) no-repeat center;background-size: 100% 100% ;min-width: 463px;height: 395px;text-align: center;z-index: 30;-webkit-transform-origin: center;transform-origin: center;opacity: 0;}
.big-data>div{-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.data i{opacity: 0; display: inline-block;height: 150px;width: 70px;background: url(../image/number.png) repeat-y ;-webkit-animation-duration: 1.5s;animation-duration: 1.5s;-webkit-animation-delay: 0.3s;animation-delay: 0.3s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;vertical-align: middle;transform-origin: top left;-webkit-transform-origin: top left;position: relative; top: -5px;}
.bd-number{transform-origin: bottom center;-webkit-transform-origin: bottom center;font-size: 106px;font-weight: bold;white-space: nowrap;}
.bd-txt{background-repeat: no-repeat; background-position: center; width: 310px;height: 56px;margin: -30px auto 0;}

.sm-data{position: absolute;font-size: 24px; color: #fff;font-weight: bold;opacity: 0;z-index: 31;}
.sd-number{ background: url(../image/txt-bg-sm.png) no-repeat bottom center;background-size: 100% 80%; height: 85px;margin-top: -20px; display: inline-block;padding: 20px 10px 0;font-size: 40px;line-height: 72px; text-align: center;font-weight: bold;}
.sm-data i{transform: scale(0.4);-webkit-transform: scale(0.4);position: relative;top: 5px; margin: 0 -45px 0 0;-webkit-animation-delay: 1.5s;animation-delay: 1.5s;-webkit-animation-duration: 2s;animation-duration: 2s;vertical-align: top;}

.sm-data,.sm-data *{-webkit-transform:none;transform:none;}

.swiper-slide{background-image: url(../image/page.jpg);}
/*page 0*/
.page-0{background-image: url(../image/page-0.jpg);}
.logo{top: 5%;margin-left: -20px;}
.logo img{width: 350px;}
.page-title{position: absolute;margin: 0 0 0 -231px; left: 50%; top: 39%; background: url(../image/title.png) no-repeat center;width: 463px;height: 395px;}

/*page-1*/
.page-1{background-image: url(../image/page-1.jpg);}

.verse{position: absolute;right: 12%;top: 4%;line-height: 0;}
.verse p{-webkit-animation-duration: 6s;animation-duration: 6s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;display: inline-block;width: 50px;height: 288px;background-repeat: no-repeat;margin: 0 5px;}
.verse p:nth-child(1){background-position: 0 0;}
.verse p:nth-child(2){background-position: -50px 0;}
.page-1 .verse p{background-image: url(../image/verse-1.png);}

.clock{position: absolute; bottom: 20%; background: url(../image/clock.png) no-repeat center; width: 100%; height: 584px;}
.clock-h{position: absolute; bottom: 48%; left: 50%;margin-left: -70px; background: url(../image/clock-h.png) no-repeat center; width: 143px; height: 200px;-webkit-transform-origin: center 90%;transform-origin: center 90%;
-webkit-animation: clock 240s linear infinite;animation: clock 240s linear infinite;}
.clock-m{position: absolute; bottom: 48%;left: 50%;margin-left: -50px; background: url(../image/clock-m.png) no-repeat center; width: 99px; height: 300px;-webkit-transform-origin: center 90%;transform-origin: center 90%;-webkit-animation: clock 20s linear infinite;animation: clock 20s linear infinite;}
.bd-time{top: 20%; background-image: url(../image/txt-bg-time.png);width: 479px;height: 298px;padding-top: 80px;margin-left: -240px;}
.username{    font-size: 60px; white-space: nowrap; font-weight: bold; overflow: hidden; text-overflow: ellipsis;}
/*.bd-year{transform:scale(0.9);-webkit-transform:scale(0.9); transform-origin: top center;-webkit-transform-origin: top center;}*/
.bd-date{margin: -10px 0 0 -25%; transform:scale(0.5);-webkit-transform:scale(0.5); transform-origin: top center;-webkit-transform-origin: top center;width: 150%;}
.bd-time .bd-txt{margin-top: -90px; background-image: url(../image/dl.png);width: 337px;height: 49px;}

/*page 2*/
.page-2{background-image: url(../image/page-2.jpg);}

.bd-zhzdl{background-image: url(../image/txt-bg-zdl.png); top: 50%;padding-top: 80px; width: 460px; height: 300px;margin-left: -230px;}
.bd-zhzdl .bd-txt{background-image: url(../image/zdl.png);width: 310px;height: 56px;}

.sd-zhzdl{ font-size: 22px;top: 35%;left: 12%;}
.sd-zhzdl .sd-number{background: url(../image/txt-bg.png) no-repeat center;background-size: 100% 100%;height: 92px;}

.page-2 .verse p{ background-image: url(../image/verse-2.png);}

/*page-3*/
.page-3{background-image: url(../image/page-3.jpg);}

.bd-sl{top: 38%;padding: 90px 0 0; background-image: url(../image/txt-bg-sl.png);width: 513px;height: 279px;margin-left: -256px;}
.bd-sl .bd-txt{background-image: url(../image/sl.png);width: 340px;height: 58px;}
.bd-sl .bd-number{transform:scale(1.4);-webkit-transform:scale(1.4);font-size: 112px; }
.bd-sl .bd-number i{top: -8px;}
.page-3 .verse p{ background-image: url(../image/verse-3.png);}

.man-nrt{position: absolute;margin-top: -30%;  background: url(../image/man-nrt.png);width: 321px;height: 399px;}
.head-box{margin: -80px 0 0 -150px;height: 100px;}
.head{ background: url(../image/head.png) no-repeat;width: 55px;height: 97px;-webkit-animation: headroll 1s linear infinite alternate;animation: headroll 1s ease infinite alternate;transform-origin: top center;-webkit-transform-origin: top center;}
.head-blood{margin: 0 auto; background: url(../image/blood-sl.png) no-repeat;width: 25px;height: 47px;-webkit-animation: headblood 1.5s linear infinite;animation: headblood 1.5s linear infinite;transform-origin: top center;-webkit-transform-origin: top center;}

/*page 4*/
.page-4{background-image: url(../image/page-4.jpg);}
.bd-sd{top: 35%; padding-top: 70px;background-image: url(../image/txt-bg-sd.png);width: 428px;height: 250px;}
.bd-sd .bd-txt{margin-top: -50px; background-image: url(../image/sd.png);width: 340px;height: 58px;}
.bd-sd .bd-number{transform:scale(1.2);-webkit-transform:scale(1.2);font-size: 60px; }
.bd-sd .bd-number i{position: relative;top: -15px;vertical-align: middle;}

.man-sd{position: absolute;margin-top: -46%;  background: url(../image/man-sd.png);width: 527px;height: 473px;}
.man-sd .head-box{margin: -45px 0 0 -180px;}
.man-sd .head-blood{margin: 20px auto; background-image: url(../image/blood-sd.png);width: 35px;height: 127px;-webkit-animation-delay: 1.8s;animation-delay: 1.8s;}

.page-4 .verse{top: 10%;}
.page-4 .verse p{ background-image: url(../image/verse-4.png);}

.sd-sd{bottom: 20%;left: 50%;margin-left: -100px;}

/*page 5*/
.page-5{background-image: url(../image/page-5.jpg);}
.bd-sw{top: 27%;padding: 60px 0 0 ; background-image: url(../image/txt-bg-sw.png);width: 352px;height: 179px;}
.bd-sw .bd-txt{margin-top: -40px;background-image: url(../image/sw.png);width: 314px;height: 57px;}
.bd-sw .bd-number{transform:scale(1.2);-webkit-transform:scale(1.2);font-size: 60px; }
.bd-sw .bd-number i{position: relative;top: -15px;vertical-align: middle;}

.page-5 .verse{top: 6%;right: 15%;}
.page-5 .verse p{ background-image: url(../image/verse-5.png);}
.sd-sw{bottom: 15%;right: 10%;}
.sd-sw .sd-number{height: 92px;}

.man-sw{width: 600px;height: 500px;bottom: 10%;}
.man-sw-t{position: absolute;top: 100px;left: 150px; background:url(../image/man-sw-t.png) no-repeat center;width:188px;height:242px; }
.man-sw-b{position: absolute; top: 200px;left: 66px; background: url(../image/man-sw-b.png) no-repeat center;width: 392px;height: 222px;}
.man-sw-hurt{position: absolute; bottom:50px; left: 50px;  background: url(../image/man-sw-hurt.png) no-repeat left bottom;background-size: 100% 100%; width: 500px;height: 500px;}

/*page 6*/
.page-6{background-image: url(../image/page-6.jpg);}

.bd-yj{bottom: 15%;padding-top: 120px; background-image: url(../image/txt-bg-yj.png);width: 439px;height: 293px;}
.bd-yj .bd-number{font-size: 60px;transform: scale(1.2);-webkit-transform: scale(1.2);}
.bd-yj .bd-number i{margin-top: -20px;}
.bd-yj .bd-txt{margin-top: -50px; background-image: url(../image/yj.png);width: 329px;height: 71px;}

.page-6 .verse p{ background-image: url(../image/verse-6.png);}

.man-yj-1{-webkit-transform:translate(200%,0);transform:translate(200%,0);position: absolute; top: 20%;right: 10%;}
.man-yj-1>.man{background: url(../image/man-yj-1.png); width: 570px;height: 460px;-webkit-animation: man-jy-roll 1s linear infinite alternate;animation: man-jy-roll 1s linear infinite alternate;}
.man-yj-2{-webkit-transform:translate(200%,0);transform:translate(200%,0);position: absolute; top: 50%;right: 5%; }
.man-yj-2>.man{background: url(../image/man-yj-2.png);width: 256px;height: 233px;-webkit-animation: man-jy-roll 0.6s linear 0.5s infinite alternate;animation: man-jy-roll 0.6s linear 0.5s infinite alternate;}
.man-yj-word{position: absolute;right: 80px; top: 50px; background: url(../image/man-yj-word.png) no-repeat center right; width: 276px; height: 69px;-webkit-animation: man-jy-word 1s infinite;animation: man-jy-word 1s infinite;transform-origin:right center;-webkit-transform-origin:right bottom;}

/*page 7*/
.page-7{background-image: url(../image/page-7.jpg);}

.bd-zs{margin-left: -330px;  top: 20%;padding-top: 130px; background-image: url(../image/txt-bg-zs.png);width: 405px;height: 261px;}
.bd-zs .bd-txt{margin-top: -50px; background-image: url(../image/zs.png);width: 249px;height: 53px;}
.bd-zs .bd-number{font-size: 50px; transform:scale(1.3) ;-webkit-transform:scale(1.3);transform-origin:center bottom;-webkit-transform-origin:center bottom;}
.bd-zs .bd-number i{position: relative; top: -20px;}
.sd-zs{bottom: 15%;right: 10%;}

.page-7 .verse p{ background-image: url(../image/verse-7.png);}

.man-zs{position: absolute;bottom: 10%;left: 50%;margin-left: -225px; width: 450px;height: 450px;}
.man-horse{position: absolute; top: 10%; left: 0; background: url(../image/zs-horse.png) no-repeat center;width: 443px;height: 415px;}
.man-body{position: absolute; top: 50px;left: 120px; background: url(../image/zs-man.png) no-repeat center;width: 177px;height: 207px;-webkit-transform:rotate(30deg);transform:rotate(30deg); }
.man-arrow{position: absolute;left: 120px; top: 80px; background: url(../image/zs-arrow.png) no-repeat center;width: 173px;height: 166px;}
.man-blood{position: absolute;bottom: -35px; left: -40px; background: url(../image/zs-blood.png) no-repeat center;width: 226px;height: 200px;transform: scale(0.1);-webkit-transform: scale(0.1);transform-origin:left bottom;-webkit-transform-origin:left bottom;}

/*2015-11-9 add 6 pages*/
/*= = 从这里开始设计大大把诗句写反了, 那就调一下吧*/
.verse-reverse p:nth-child(1){background-position: -50px 0;}
.verse-reverse p:nth-child(2){background-position: 0 0;}
/*page 8*/
.page-8 .verse{left:60px;right: auto;}
.page-8 .verse p{background-image: url(../image/verse-9.png);}
.sun{position: absolute;background: url(../image/sun.png) no-repeat center;width: 176px;height: 170px;right: 200px; top: -50px;}
.bd-st{top: auto;bottom: 8%;margin-left: -160px; background-image: url(../image/txt-bg-yj.png);padding: 70px 0 0;min-width: 320px;height: 220px;background-size: 100% 100%;}
.bd-st>div{background: url(../image/st.png);width: 242px;height: 100px;margin: 0 auto;}
.man-st{ background: url(../image/man-st.png) no-repeat center;width: 100%;height: 684px;}
.arrow-st{opacity: 0; position: absolute;background: url(../image/arrow-st.png);width: 256px;height: 19px;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.arrow-st-tb{ top: 120px;right: 90px;}
.arrow-st-st{ top: 300px;right: 120px;}
.arrow-dp{opacity: 0; position: absolute; bottom: 10px;right: 150px;background:url(../image/st-shield.png);width:131px;height:238px;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.sd-st{background: url(../image/blood-st.png);width: 424px;height: 85px;padding: 0 0 0 50px; -webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;;font-size: 36px}
.sd-st .sd-number{background: none;}
.sd-st-tb{ top: 50px;right: -90px;}
.sd-st-st{ top: 230px;right: -80px;}
.sd-st-dp{ bottom: 100px;right: -70px;}

/*page 9*/
.page-9{background: url(../image/page-wq.png) no-repeat center,url(../image/page.jpg) no-repeat center;background-size: cover;}
.bd-wq{background-image: url(../image/txt-bg-time.png);bottom: 12%;font-size: 36px;font-weight: bold;}
.bd-wq .bd-txt{margin: 0;width: auto;}
.bd-wq .bd-number{font-size: 76px;font-weight: bold;}
.page-9 .verse{left: 140px; top: 30px;}
.page-9 .verse p{background-image: url(../image/verse-10.png);}
.man-wq{position: absolute;background: url(../image/man-wq.png) no-repeat center;height: 660px;width: 100%;}
.arrow-wq{position: absolute; right: 110px; top: -160px; background: url(../image/arrow-wq.png); width: 136px; height: 614px;-webkit-animation: arrow-wq 1s ease infinite alternate;animation: arrow-wq 1s ease infinite alternate;transform-origin: center 70%;-webkit-transform-origin: center 70%;}

/*page 10*/
.man-sb{position: absolute;top: 0;left: 0; width: 100%;height: 100%;background: url(../image/page-sb.png) no-repeat center;}
.man-sb .man{position: absolute; top: 50%;left: 50%; background: url(../image/man-sb.png) no-repeat; width: 412px;height: 295px;margin: -120px 0 0 -200px; -webkit-animation: man-sb 1s ease infinite alternate;animation: man-sb 1s ease infinite alternate;transform-origin: left bottom ;-webkit-transform-origin: left bottom;}

.bd-sb {bottom: 15%; background-image: url(../image/txt-bg-sl.png);zoom: 1.1; font-size: 48px;font-weight: bold;height: 300px;padding-top: 100px;}
.bd-sb i{top: -10px;}
.bd-sb .bd-number{font-size: 60px;}
.sd-sb{top: 27%;left: 20%;background: url(../image/txt-bg-sw.png) no-repeat center;background-size: 90% 90%;font-size: 38px;text-align: center;}
.sd-sb .sd-number{background: none;line-height: 66px;font-size: 38px;margin-left: -10px;}
/*.sd-sb .sd-number i{margin-top: -2px; margin-left: 0px;}*/
/*page 11*/
.page-11{background: url(../image/page-yjs.png) no-repeat center,url(../image/page.jpg) no-repeat center;background-size: 100% 100%;}
.page-11 .man-sw{transform: scale(0.6);-webkit-transform: scale(0.6);position: absolute; top: 8%;left: -100px;bottom: auto;}
.page-11 .verse p{background-image: url(../image/verse-11.png);}
.page-11 .verse{right: 190px;height: 6%;}
.man-yjs{position: absolute;bottom: 25%;right: 5%; background: url(../image/man-yjs.png) no-repeat center;width: 378px;height: 460px;}
.bd-yjs{background-image: url(../image/txt-bg-sl.png);bottom: 15%;height: 280px;padding-top: 50px;}
.bd-yjs .bd-txt{font-size:36px;font-weight: bold;margin: 0 auto;}
.bd-yjs .bd-number{font-size: 70px;}
.bd-yjs .bd-number i{margin-top: -20px;}
.sd-yjs{font-size: 36px; top: 35%;left: 15%;}
.sd-yjs i{top: 7px;}
.page-11 .man-sw-ani{opacity: 0;-webkit-animation: fadeIn 0.5s 0.5s forwards;animation: fadeIn 0.5s 0.5s forwards;}
.page-11 .man-sw-hurt{opacity: 0;}
.page-11 .man-sw-ani .man-sw-hurt{-webkit-animation: man-sw-hurt 0.4s 1s both;animation: man-sw-hurt 0.4s 1s both;}
.page-11 .man-sw-ani .man-sw-t{-webkit-animation: man-sw-t 1s 1.5s forwards;animation: man-sw-t 1s 1.5s forwards;}

/*page 12*/
.page-12{background: url(../image/page-sh.png) no-repeat center,url(../image/page.jpg) no-repeat center;background-size: 100% 100%;}
.page-12 .verse p{background-image: url(../image/verse-12.png);}

.bd-sh .bd-txt{margin-bottom: 20px;font-size: 28px;width: auto;font-weight: bold;}
.bd-sh .bd-txt b{font-size: 36px;}
.bd-sh .bd-number{font-size: 30px;}
.bd-sh .bd-number i{margin-top: -40px;}

.bd-sh-sd{ left: 10%; top: 18%; margin: 0; background-image: url(../image/txt-bg-sw.png);padding: 80px 0 0;min-width: 380px;height: 220px;}
.bd-df-sh{ bottom: 13%;background-image: url(../image/txt-bg-sd.png);min-width: 500px; height: 250px;padding: 100px 0 0;margin: 0 0 0 -250px;}

.page-12 .man{position: absolute; width: 100%; height: 460px; top: 34%;}
.man-hurt{position: absolute;right: 0; background: url(../image/man-hurt.png) no-repeat; width: 443px; height: 265px;-webkit-animation: arrow-wq 1s ease infinite alternate;animation: arrow-wq 1s ease infinite alternate;transform-origin: 70% bottom;-webkit-transform-origin: 70% bottom;}
.man-hurted{ position: absolute;bottom: 0; left: 5%; background: url(../image/man-sb.png);background-size: cover; width: 494px;height: 354px;}

/*page 13*/
.page-13{background: url(../image/page-fjbz.png) no-repeat center,url(../image/page.jpg) no-repeat center;background-size: 100% 100%;}
.page-13 .verse p{background-image: url(../image/verse-13.png);}

.man-sj {position: absolute; top: 0; left: 0; height: 695px; width: 720px; background: url(../image/man-sj.png) 0 0 no-repeat;}
.man-lb{position: absolute; bottom: 20%;right: 0; background: url(../image/man-lb.png); width: 516px; height: 376px;-webkit-animation: arrow-wq 1s ease-in infinite alternate;animation: arrow-wq 1s ease-in infinite alternate;transform-origin: 70% bottom;-webkit-transform-origin: 70% bottom;}

.bd-fj{background-image: url(../image/txt-bg-yj.png);min-width: 400px;height: 230px;font-size: 30px;font-weight: bold;padding: 80px 0 0;margin: 0;left: auto; right: 0;top: 25%;}
.bd-fj .bd-number{line-height: 1;font-size: 90px;}
.sd-bz{text-align: center;bottom: 25%; left: 22%;padding: 0 20px; background: url(../image/txt-bg-sm.png) no-repeat bottom center;background-size: 100% 80%;font-size: 28px;}
.sd-bz .sd-number{margin-top: -25px;background: none; font-size: 46px;}

/*page end*/
.page-end{z-index: 98; background-image: url(../image/page.jpg);}

.page-end .verse{width: 520px;}
.page-end .verse p{margin: 0 1.5%; background-image: url(../image/verse-8.png); height: 367px; }
.page-end .verse p:nth-child(1){background-position: 0 0;}
.page-end .verse p:nth-child(2){background-position: -75px 0;}
.page-end .verse p:nth-child(3){background-position: -150px 0;}
.page-end .verse p:nth-child(4){background-position: -220px 0;}
.page-end .verse p:nth-child(5){background-position: -290px 0;}
.page-end .verse p:nth-child(6){background-position: -365px 0;}
.page-end .verse p:nth-child(7){background-position: -440px 0;}

.man-battle{position: absolute;top: 30%;padding: 450px 0 0; width: 100%;height: 650px;}
.man-battle .woman{position: absolute;top: 0; left: 5%;background: url(../image/woman.png);width: 351px;height: 489px;}
.man-battle .man{position: absolute; top: 30px; right: -2%;-webkit-transform:scale(-0.9,0.9);transform:scale(-0.9,0.9); }
.man-battle .man-sd{margin: 0;position: static;}
.road{ background: url(../image/road.png) repeat-x;width: 100%;height: 120px;}

.btns{position: absolute; bottom: 12%;text-align: center;width: 100%;}
.btns a{display: inline-block;width: 282px;height: 83px;}
.btns a + a{margin-left: 3%;}
.btns .again-btn{background: url(../image/again.png) no-repeat center;}
.btns .share-btn{background: url(../image/share.png) no-repeat center;}


/*share*/
.share-layer{position: fixed;top: 0;left: 0;background: rgba(0,0,0,.7) url(../image/share-layer.png) no-repeat top right; z-index: 98;width: 100%;height: 100%;}


/*pop*/
.pop{position: fixed;width: 100%;height: 100%;left: 0;top: 0;z-index: 80;background: rgba(0,0,0,.6);}
.pop-main{font-size: 28px;color: #2f2418;background: url(../image/pop-bg.jpg) no-repeat center;background-size:100% 100%;width:600px;min-height: 619px;padding: 40px 25px;line-height: 1.5;}
.pop-tip{font-size: 34px;font-weight: bold;margin-bottom: 10px;}
.pop-tip-cont{width: 80%;margin: 0 auto 10px;}
.pop-close{position: absolute; right:15px;top: 15px; background: url(../image/pop-close.png) no-repeat center; width: 46px; height: 47px;}
.pop-main img{display: block;margin: 0 auto;background: #fff;}.arrow{background-position:0px 0px}.music{background-position:-15px -72px}.music-off{background-position:-15px -163px}.swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet:before{background-position:-83px -254px}.swiper-pagination-bullet:nth-child(1):after{background-position:-50px -304px}.swiper-pagination-bullet:nth-child(2):after{background-position:-50px -359px}.swiper-pagination-bullet:nth-child(3):after{background-position:-50px -414px}.swiper-pagination-bullet:nth-child(9):after{background-position:-50px -414px}.swiper-pagination-bullet:nth-child(4):after{background-position:-50px -469px}.swiper-pagination-bullet:nth-child(5):after{background-position:-50px -524px}.swiper-pagination-bullet:nth-child(6):after{background-position:-50px -579px}.swiper-pagination-bullet:nth-child(7):after{background-position:-50px -634px}.swiper-pagination-bullet:nth-child(8):after{background-position:-50px -689px}.swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active:after{background-position:-50px -744px}.swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active:after{background-position:-50px -799px}.swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active:after{background-position:-50px -854px}.swiper-pagination-bullet:nth-child(9).swiper-pagination-bullet-active:after{background-position:-50px -854px}.swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active:after{background-position:-50px -909px}.swiper-pagination-bullet:nth-child(5).swiper-pagination-bullet-active:after{background-position:-50px -964px}.swiper-pagination-bullet:nth-child(6).swiper-pagination-bullet-active:after{background-position:-50px -1019px}.swiper-pagination-bullet:nth-child(7).swiper-pagination-bullet-active:after{background-position:-50px -1074px}.swiper-pagination-bullet:nth-child(8).swiper-pagination-bullet-active:after{background-position:-50px -1129px}.arrow,.music,.music-off,.swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet:before,.swiper-pagination-bullet:nth-child(1):after,.swiper-pagination-bullet:nth-child(2):after,.swiper-pagination-bullet:nth-child(3):after,.swiper-pagination-bullet:nth-child(9):after,.swiper-pagination-bullet:nth-child(4):after,.swiper-pagination-bullet:nth-child(5):after,.swiper-pagination-bullet:nth-child(6):after,.swiper-pagination-bullet:nth-child(7):after,.swiper-pagination-bullet:nth-child(8):after,.swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active:after,.swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active:after,.swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active:after,.swiper-pagination-bullet:nth-child(9).swiper-pagination-bullet-active:after,.swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active:after,.swiper-pagination-bullet:nth-child(5).swiper-pagination-bullet-active:after,.swiper-pagination-bullet:nth-child(6).swiper-pagination-bullet-active:after,.swiper-pagination-bullet:nth-child(7).swiper-pagination-bullet-active:after,.swiper-pagination-bullet:nth-child(8).swiper-pagination-bullet-active:after{background-image: url(style_z.png)}